@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:10px;">
    <p>Tag Helper for using with phone number</p>
    @Html.Raw(Html.Encode("<phone>11992116427</phone>")) <br />
    <phone>11992116427</phone>
</div>